<footer class="document-ui-footer footer">
  <div class="row">
    <div class="col-md-4 text-center">
      <h5>Контактная информация</h5>
        <address><i class="fa fa-phone" aria-hidden="true"></i> +7 495 361-51-91 <br/>
          Музейно-библиотечно-архивный отдел  <br/>
          ул. Рогожский поселок, д. 29, Москва, 109052 <br/>
        </address>
    </div>
    <div class="col-md-4">
      <p class="text-center"><strong>&copy; 2017 </strong><br/>
       Русская Православная Старообрядческая Церковь <br/> Московская митрополия <br/> Музейно-Библиотечно-Архивный отдел
      </p>
    </div>
    <div class="col-md-4 text-center">
      Исполнитель: Старообрядческий<br>
      духовно-просветительский центр «Криница»<br>
      по заказу Московской митрополии РПСЦ<br>
      Разработка: <a href="https://maxim.chernyatevich.me">Максим Чернятевич</a>
    </div>
  </div>
</footer>