<div class="document-ui-nav document-ui-nav-small text-center">

  <h1 class="logo-small"><a ui-sref="home"><img src="assets/images/logo-left.svg"/> </a></h1>

  <nav>
    <ul class="nav navbar-nav document-ui-nav-left">
      <li><a ui-sref-active="active" ui-sref="books.all">Архив и Библиотека</a></li>
      <li><a ui-sref-active="active" ui-sref="publications.all">Публикации</a></li>
      <li><a href="https://rpsc-biblio.ru/publications/5">Музей</a></li>
      <li class="search">
        <search-min-form></search-min-form>
      </li>
    </ul>
  </nav>
</div>